.container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button:disabled {
    cursor: not-allowed;
}